<div class="container py-5 text-center">

    <i class="bi bi-check-circle-fill text-success"
       style="font-size:100px;">
    </i>

    <h1 class="fw-bold mt-4">
        Order Placed Successfully!
    </h1>

    <p class="lead text-muted mt-3">
        Thank you for shopping with Klikk.
    </p>

    <a asp-controller="Products"
       asp-action="Index"
       class="btn btn-primary mt-4">

        Continue Shopping

    </a>

</div>