<div class="container py-5 text-center">

    <i class="bi bi-check-circle-fill text-success"
       style="font-size:100px;">
    </i>

    <h1 class="fw-bold mt-4">
        Payment Successful!
    </h1>

    <p class="lead text-muted">
        Your order has been placed successfully.
    </p>

    <a asp-controller="Orders"
       asp-action="MyOrders"
       class="btn btn-primary mt-4">

        View Orders

    </a>

</div>